/* line 4, ../sass/layout.scss */
.page {
  *zoom: 1;
  max-width: 23em;
  _width: 23em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.page:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 47em) {
  /* line 4, ../sass/layout.scss */
  .page {
    max-width: 47em;
  }
}
/* line 91, ../../../../../Library/Ruby/Gems/2.0.0/gems/susy-1.0.9/sass/susy/_media.scss */
.lt-ie9 .page {
  max-width: 47em;
  _width: 47em;
}

/* line 8, ../sass/layout.scss */
main {
  margin: 1em 0;
}

/* line 11, ../sass/layout.scss */
.subfooter,
footer {
  clear: both;
}
.subfooter {
  text-align: center;
}

@media (min-width: 47em) {
  /* line 18, ../sass/layout.scss */
  .page header h1 {
    width: 40.42553%;
    float: left;
    margin-right: 2.12766%;
  }
  /* line 22, ../sass/layout.scss */
  .page header .intro,
  .page header .secondary {
    width: 57.44681%;
    float: right;
    margin-right: 0;
    margin-top: 1em;
  }
  /* line 26, ../sass/layout.scss */
  .page header .primary {
    clear: both;
  }
  /* line 30, ../sass/layout.scss */
  .page main {
    margin: 1em 11px;
  }
}
/* line 18, ../sass/layout.scss */
.lt-ie9 .page header h1 {
  width: 40.42553%;
  float: left;
  margin-right: 2.12766%;
  display: inline;
}
/* line 22, ../sass/layout.scss */
.lt-ie9 .page header .intro,
.lt-ie9 .page header .secondary {
  width: 57.44681%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  margin-top: 1em;
}
/* line 26, ../sass/layout.scss */
.lt-ie9 .page header .primary {
  clear: both;
}
/* line 30, ../sass/layout.scss */
.lt-ie9 .page main {
  margin: 1em 11px;
}

@media (min-width: 47em) {
  /* line 39, ../sass/layout.scss */
  .page.home main section {
    margin-left: 3.19149%;
    width: 57.44681%;
    float: left;
    margin-right: 2.12766%;
    margin-right: 3.19149%;
  }
  /* line 45, ../sass/layout.scss */
  .page.home main aside {
    width: 31.91489%;
    float: right;
    margin-right: 0;
  }
  /* line 47, ../sass/layout.scss */
  .page.home main aside p {
    margin-top: 1em;
  }
}
/* line 39, ../sass/layout.scss */
.lt-ie9 .page.home main section {
  margin-left: 3.19149%;
  width: 57.44681%;
  float: left;
  margin-right: 2.12766%;
  display: inline;
  margin-right: 3.19149%;
}
/* line 45, ../sass/layout.scss */
.lt-ie9 .page.home main aside {
  width: 31.91489%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 47, ../sass/layout.scss */
.lt-ie9 .page.home main aside p {
  margin-top: 1em;
}

@media (min-width: 47em) {
  /* line 58, ../sass/layout.scss */
  .page.standard main section {
    width: 57.44681%;
    float: right;
    margin-right: 0;
  }
  /* line 61, ../sass/layout.scss */
  .page.standard main figure {
    margin-left: 3.19149%;
    width: 31.91489%;
    float: left;
    margin-right: 2.12766%;
    margin-right: 3.19149%;
    margin-bottom: 1em;
  }
}
/* line 58, ../sass/layout.scss */
.lt-ie9 .page.standard main section {
  width: 57.44681%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 61, ../sass/layout.scss */
.lt-ie9 .page.standard main figure {
  margin-left: 3.19149%;
  width: 31.91489%;
  float: left;
  margin-right: 2.12766%;
  display: inline;
  margin-right: 3.19149%;
  margin-bottom: 1em;
}

@media (min-width: 47em) {
  /* line 75, ../sass/layout.scss */
  .page.team main section {
    width: 57.44681%;
    float: right;
    margin-right: 0;
  }
  /* line 78, ../sass/layout.scss */
  .page.team main nav {
    margin-top: 1em;
    margin-left: 3.19149%;
    width: 31.91489%;
    float: left;
    margin-right: 2.12766%;
    margin-right: 3.19149%;
  }
  /* line 84, ../sass/layout.scss */
  .page.team main figure {
    margin-left: 3.19149%;
    width: 31.91489%;
    float: left;
    margin-right: 2.12766%;
    margin-right: 3.19149%;
  }
}
/* line 75, ../sass/layout.scss */
.lt-ie9 .page.team main section {
  width: 57.44681%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 78, ../sass/layout.scss */
.lt-ie9 .page.team main nav {
  margin-top: 1em;
  margin-left: 3.19149%;
  width: 31.91489%;
  float: left;
  margin-right: 2.12766%;
  display: inline;
  margin-right: 3.19149%;
}
/* line 84, ../sass/layout.scss */
.lt-ie9 .page.team main figure {
  margin-left: 3.19149%;
  width: 31.91489%;
  float: left;
  margin-right: 2.12766%;
  display: inline;
  margin-right: 3.19149%;
}
