/* line 4, ../sass/layout.scss */
.page {
  *zoom: 1;
  max-width: 23em;
  _width: 23em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../../../home/web/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.page:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 47em) {
  /* line 4, ../sass/layout.scss */
  .page {
    max-width: 47em;
  }
}
/* line 91, ../../../../../../home/web/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/susy-1.0.9/sass/susy/_media.scss */
.lt-ie9 .page {
  max-width: 47em;
  _width: 47em;
}

@media (min-width: 47em) {
  /* line 12, ../sass/layout.scss */
  .page header h1 {
    width: 38.46154%;
    float: left;
    margin-right: 2.5641%;
  }
  /* line 16, ../sass/layout.scss */
  .page header .intro,
  .page header .secondary {
    width: 58.97436%;
    float: right;
    margin-right: 0;
    margin-top: 1em;
  }
  /* line 20, ../sass/layout.scss */
  .page header .primary {
    clear: both;
  }
  /* line 25, ../sass/layout.scss */
  .page main section {
    margin-left: 3.19149%;
    width: 58.97436%;
    float: left;
    margin-right: 2.5641%;
    margin-right: 3.19149%;
  }
  /* line 31, ../sass/layout.scss */
  .page main aside {
    width: 28.20513%;
    float: right;
    margin-right: 0;
  }
  /* line 35, ../sass/layout.scss */
  .page footer {
    clear: both;
  }
}
/* line 12, ../sass/layout.scss */
.lt-ie9 .page header h1 {
  width: 38.46154%;
  float: left;
  margin-right: 2.5641%;
  display: inline;
}
/* line 16, ../sass/layout.scss */
.lt-ie9 .page header .intro,
.lt-ie9 .page header .secondary {
  width: 58.97436%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  margin-top: 1em;
}
/* line 20, ../sass/layout.scss */
.lt-ie9 .page header .primary {
  clear: both;
}
/* line 25, ../sass/layout.scss */
.lt-ie9 .page main section {
  margin-left: 3.19149%;
  width: 58.97436%;
  float: left;
  margin-right: 2.5641%;
  display: inline;
  margin-right: 3.19149%;
}
/* line 31, ../sass/layout.scss */
.lt-ie9 .page main aside {
  width: 28.20513%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 35, ../sass/layout.scss */
.lt-ie9 .page footer {
  clear: both;
}
