@import 'susy';
@import 'settings';

.page {
  @include container($total-columns, $large);
  //@include susy-grid-background;
}
main {
  margin: 1em 0;
}
.subfooter,
footer {
  clear: both;
}
.subfooter {
  text-align: center;
}

.page {
@include at-breakpoint($large) {
  header{
    h1 {
      @include span-columns(5, $large-cols);
    }
    .intro,
    .secondary {
      @include span-columns(7 omega, $large-cols);
      margin-top: 1em;
    }
    .primary{
      clear: both;
    }
  }
  main {
    margin: 1em 11px;
  }
}
}
// Homepage
.page.home {
@include at-breakpoint($large) {
  main {
    section {
      @include pre(0.5);
      @include span-columns(7, $large-cols);
      @include post(0.5);

    }
    aside {
      @include span-columns(4 omega, $large-cols);
      p {
        margin-top: 1em;
      }
    }
  }
}
}
// Standard
.page.standard {
@include at-breakpoint($large) {
  main {
    section {
      @include span-columns(7 omega, $large-cols);
    }
    figure {
      @include pre(0.5);
      @include span-columns(4, $large-cols);
      @include post(0.5);
      margin-bottom: 1em;
    }
  }
}
}

// Standard
.page.team {
@include at-breakpoint($large) {
  main {
    section {
      @include span-columns(7 omega, $large-cols);
    }
    nav {
      margin-top: 1em;
      @include pre(0.5);
      @include span-columns(4, $large-cols);
      @include post(0.5);
    }
    figure {
      @include pre(0.5);
      @include span-columns(4, $large-cols);
      @include post(0.5);
    }
  }
}
}
