@import 'susy';
@import 'settings';

.page {
  @include container($total-columns, $medium, $large);
  //@include susy-grid-background;
}

.page {
@include at-breakpoint($medium) {
  header{
    h1 {
      @include span-columns(4, $medium-cols);
    }
    .intro,
    .secondary {
      @include span-columns(6 omega, $medium-cols);
      margin-top: 1em;
    }
    .primary{
      clear: both;
    }
  }
  main {
    section {
      @include pre(0.5);
      @include span-columns(6, $medium-cols);
      @include post(0.5);

    }
    aside {
      @include span-columns(3 omega, $medium-cols);
    }
  }
 footer {
  clear: both;
 }
}
}
