// Global Foundation Settings
@import "settings";

// Comment out this import if you don't want to use normalize
@import "normalize";

@import "foundation/components/global";
@import "foundation/components/type";
@import "foundation/components/buttons";
@import "foundation/components/button-groups";

@import "compass/typography/lists/horizontal-list";

/* Secondary Nav */
.secondary{
  @include horizontal-list;
  li {
    border-right: solid 2px black;
    padding: 0 10px;
    &:last-child{
      border-right: 0;
    }
  }
}

/* Primary Nav */
.primary {
  @include horizontal-list;
  li {
    &:nth-child(3n+1) {
      clear: both;
    }
  }
}
