// Global Foundation Settings
@import "settings";

// Comment out this import if you don't want to use normalize
@import "normalize";

@import "foundation/components/global";
@import "foundation/components/type";
@import "foundation/components/buttons";
@import "foundation/components/button-groups";
@import "foundation/components/tables";

@import "compass/typography";
@import "compass/utilities";
@import "compass/css3";

@import 'susy';

/* Logo */
header{
  h1 {
    @include replace-text-with-dimensions('logo-txt.png', 0, 0);
  }
  h2 {
    font-size: $h3-font-size;
    strong {
      color: $strong-red;
      font-size: 1.25em;
    }
    text-align: center;
  }
}

/* Secondary Nav */
.secondary{
  @include horizontal-list;
  @include at-breakpoint($large) {
    ul {
      padding-left: 6em;
    }
  }
  li {
    border-right: solid 2px $strong-red;
    padding: 0 10px;
    &:last-child{
      border-right: 0;
    }
    a {
      @include link-colors($light-gray);
    }
  }
}

/* Primary Nav */
.primary {
  @include horizontal-list;
  li {
    background: $off-black;
    width: 33%;
    white-space: normal;
    border: solid 2px white;
    a {
      @include link-colors(white);
      font-weight: bold;
      font-size: 0.9em;
      display: block;
      padding: 0.15em;
      height: 4em;
    }
    // Set colours and position [with padding]
    &:nth-child(1){ background: $pink;      a { padding: 2em 0 0 0.5em; }}
    &:nth-child(2){ background: $acqua;     a { padding: 0.15em 0 0 0.15em; }}
    &:nth-child(3){ background: $off-black; a { padding: 0.5em 0 0 0.15em; }}
    &:nth-child(4){ background: $lime;      a { padding: 0.15em 0 0 1.5em; }}
    &:nth-child(5){ background: $orange;    a { padding: 1em 0 0 0.5em; }}
    &:nth-child(6){ background: $purple;    a { padding: 2em 0 0 2em; }}

    @include border-radius(7px);
    &:nth-child(3n+1) {
      clear: both;
    }
  }
}
.page {
  @include at-breakpoint($large) {
    .primary {
      background: image-url('blocks-1.png') 100% 0 no-repeat;
      margin: 0 11px;
      ul {
        width: 50%;
        display: block;
      }
      // Changeable background headers
      &.hands { background-image: image-url('blocks-hands.png'); }

    }
  }
  @include at-breakpoint($large) {
    .primary li {
      height: 7.35em;
      // Set position [with padding]
      &:nth-child(1){ a { padding: 5em 0 0 0.5em; }}
      &:nth-child(2){ a { padding: 1em 0 0 0.15em; }}
      &:nth-child(3){ a { padding: 3em 0 0 0.5em; }}
      &:nth-child(4){ a { padding: 0.15em 0 0 1.5em; }}
      &:nth-child(5){ a { padding: 1em 0 0 0.5em; }}
      &:nth-child(6){ a { padding: 2em 0 0 2em; }}
    }
  }
}

/* Images */
figure {
  img {
    padding: 0.5em;
    box-shadow: 0 0 10px #111;
  }
}
/* Main text */
section > h1:first-child {
  text-transform: uppercase;
  color: $light-gray;
}

/* Home page */
.home aside {
  font-size: 0.9em;
}
/* Team */
nav.team h3 {
  text-transform: uppercase;
  text-align: center;
}
nav.team ul {
  list-style: none;
  li a {
    $padding: $button-sml;
    $bg: $lime;
    $radius: true;
    $full-width: true;
    $disabled: false;
    $is-input: false;
    @include button($padding, $bg, $radius, $full-width, $disabled, $is-input);
  }
}



/* Timetable */
table td {
  border: solid 1px $orange;
  width: 100%;
}
footer p {
  color: white;
  @include border-radius(5px);
  background: $strong-red;
  padding: 1em 0.5em;
  font-size: 0.75em;
  text-align: center;
  a {
    @include link-colors($orange);
  }
}

/* Links */
@import "compass/utilities/sprites";
@import "logos/*.png"; /* */
@include all-logos-sprites;
.links-page section ul {
  @include inline-block-list;
  li a {
    @include hide-text();
    display: block;
    width: 150px;
    height: 150px;
  }
}
a[href="http://www.athenryac.com"]        { @extend .logos-athenryac; }
a[href="http://www.aviva.ie"]            { @extend .logos-aviva; }
a[href="http://www.athleticsireland.ie"] { @extend .logos-aai; }

/* Fix for IE */
.lt-ie9{
  h1 { font-size: $h1-font-size; }
  h2 { font-size: $h2-font-size; }
  h3 { font-size: $h3-font-size; }
  h4 { font-size: $h4-font-size; }
}
