<!DOCTYPE html>
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Athenry Physiotherapy &amp; Performance Clinic</title>

  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/layout.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
  

  <script src="javascript/vendor/custom.modernizr.js"></script>

</head>
<body><div class="page {{ page.layout_class}} {{ page.section}}">
  
  <header>
    <h1>Athenry Physiotherapy &amp; Performance Clinic</h1>
    <h2 class="intro">Call us today at <strong>091 874922</strong> for a consultation</h2>

    <nav class="secondary">
    <ul>
      <li><a href="/index.html">home</a></li>
      <li><a href="/contact.html">contact us</a></li>
      <li><a href="/services.html">services</a></li>
      <li><a href="/links.html">links</a></li>
    </ul>
    </nav>

    <nav class="primary {{ page.banner }}">
    <ul>
      <li><a href="/index.html">Home</a></li>
      <li><a href="/physio.html">Physiotherapy</a></li>
      <li><a href="/performance.html">Sports Performance</a></li>
      <li><a href="/jane-ann.html">Our Team</a></li>
      <li><a href="/classes.html">Classes</a></li>
      <li><a href="/publications.html">Publications</a></li>
    </ul>
    </nav>

  </header>

   {{ content }}

  <div class="subfooter">
    <div class="fb-like" data-href="http://www.facebook.com/AthenryPhysioPerformanceClinic" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true" style='margin-bottom: 5px;'></div>
    <p>Keep an eye on <strong><a href="https://www.facebook.com/AthenryPhysioPerformanceClinic">Facebook</a></strong> for more updates.</p> 
  </div>
  <footer>
    {% capture footer %}
    {% include footer.md %}
    {% endcapture %}
    {{ footer | unindent | markdownify }}
  </footer>


  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <!--[if (gte IE 6)&(lte IE 8)]>
    <script type="text/javascript" src="javascript/vendor/selectivizr/selectivizr-min.js"></script>
  <![endif]-->
  <script src="javascript/init.js"></script>

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.4&appId=1624066377841173";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  
</div></body>
</html>
